@import './colors.scss';

header {
    height: 70px;
    max-height: 20%;
    background-color: $green-light;
    border: 4px solid $green-medium;
    border-radius: 17px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: $blue-heavy;
    padding: 3%;

}

.userPic {
    height: 80px;
    border: 1px solid lightcyan;
}

.userPicContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 11%;
}

.userInfos {
    position: absolute;
    top: 100%;

    left: 0;
    background-color: $blue-light;
    border: 1px solid $grey-heavy;
    padding: 10px;
    display: none;

}

.userPicContainer:hover .userInfos {
    display: block;

}